{% extends '../layouts/index.html.twig' %} {% block page %}

<div class="m-12">
  <div class="w-full">
    <div class="flex flex-row space-x-12">
      {% include '../components/sidebar.html.twig' %}
      <div class="content w-3/4 flex-1">
        <div class="header relative">
          <h1 class="title">Shop</h1>
          {#
          <h4 class="description font-18 font-lato">
            You can choose the most popular streamers selling accessories
          </h4>
          #}
          <div class="actions flex absolute top-2 right-2">
            <div class="cursor-pointer dashboard">
              <span>
                <svg
                  id="Filter"
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48.011"
                  viewBox="0 0 48 48.011"
                >
                  <path
                    id="fi-rr-scale"
                    d="M19,2H16.461A5.905,5.905,0,0,0,10.8.117,5.757,5.757,0,0,0,7.589,2H5A5.006,5.006,0,0,0,0,7V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V7A5.006,5.006,0,0,0,19,2ZM12,2a4,4,0,0,1,4,4,1,1,0,0,1-1,1H12.868l.964-1.445a1,1,0,1,0-1.664-1.11L10.465,7H9A1,1,0,0,1,8,6a4,4,0,0,1,4-4ZM22,19a3,3,0,0,1-3,3H5a3,3,0,0,1-3-3V7A3,3,0,0,1,5,4H6.393A6.482,6.482,0,0,0,6,6.215,2.788,2.788,0,0,0,8.785,9h6.43A2.762,2.762,0,0,0,18,6.353,7.568,7.568,0,0,0,17.656,4H19a3,3,0,0,1,3,3Z"
                    transform="translate(12 12.011)"
                    fill="#808798"
                  />
                </svg>
              </span>
            </div>
            <div class="cursor-pointer setting">
              <span>
                <svg
                  id="Filter"
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                >
                  <g
                    id="Group_39"
                    data-name="Group 39"
                    transform="translate(-65 -572)"
                  >
                    <path
                      id="Path_24"
                      data-name="Path 24"
                      d="M1,4.75H3.736a3.728,3.728,0,0,0,7.2,0H23a1,1,0,0,0,0-2H10.931a3.728,3.728,0,0,0-7.195,0H1a1,1,0,0,0,0,2ZM7.333,2a1.75,1.75,0,1,1-1.75,1.75A1.75,1.75,0,0,1,7.333,2Z"
                      transform="translate(77 584)"
                      fill="#808798"
                    />
                    <path
                      id="Path_25"
                      data-name="Path 25"
                      d="M23,11H20.264a3.727,3.727,0,0,0-7.194,0H1a1,1,0,0,0,0,2H13.07a3.727,3.727,0,0,0,7.194,0H23a1,1,0,0,0,0-2Zm-6.333,2.75A1.75,1.75,0,1,1,18.417,12a1.75,1.75,0,0,1-1.75,1.75Z"
                      transform="translate(77 584)"
                      fill="#808798"
                    />
                    <path
                      id="Path_26"
                      data-name="Path 26"
                      d="M23,19.25H10.931a3.728,3.728,0,0,0-7.195,0H1a1,1,0,0,0,0,2H3.736a3.728,3.728,0,0,0,7.2,0H23a1,1,0,0,0,0-2ZM7.333,22a1.75,1.75,0,1,1,1.75-1.75A1.75,1.75,0,0,1,7.333,22Z"
                      transform="translate(77 584)"
                      fill="#808798"
                    />
                  </g>
                </svg>
              </span>
            </div>
            <div class="cursor-pointer notification">
              <span class="active">
                <svg
                  id="Notifications"
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                >
                  <g id="Notifications-2" data-name="Notifications">
                    <g
                      id="Group_2015"
                      data-name="Group 2015"
                      transform="translate(12 12)"
                    >
                      <path
                        id="Path_5653"
                        data-name="Path 5653"
                        d="M13.5,4.18a.5.5,0,0,1-.5-.5V2a1,1,0,0,0-2,0V3.68a.5.5,0,0,1-1,0V2a2,2,0,0,1,4,0V3.68A.5.5,0,0,1,13.5,4.18Z"
                        fill="none"
                        stroke="#808798"
                        stroke-width="1"
                      />
                    </g>
                    <g
                      id="Group_2016"
                      data-name="Group 2016"
                      transform="translate(12 12)"
                    >
                      <path
                        id="Path_5654"
                        data-name="Path 5654"
                        d="M12,24a3.5,3.5,0,0,1-3.5-3.5.5.5,0,0,1,1,0,2.5,2.5,0,0,0,5,0,.5.5,0,0,1,1,0A3.5,3.5,0,0,1,12,24Z"
                        fill="none"
                        stroke="#808798"
                        stroke-width="1"
                      />
                    </g>
                    <g
                      id="Group_2017"
                      data-name="Group 2017"
                      transform="translate(12 12)"
                    >
                      <path
                        id="Path_5655"
                        data-name="Path 5655"
                        d="M20.5,21H3.5a1.5,1.5,0,0,1-.975-2.64A6.952,6.952,0,0,0,5,13.038V10a7,7,0,0,1,14,0v3.038a6.945,6.945,0,0,0,2.467,5.315A1.5,1.5,0,0,1,20.5,21ZM12,4a6.006,6.006,0,0,0-6,6v3.038a7.944,7.944,0,0,1-2.821,6.079A.5.5,0,0,0,3.5,20h17a.5.5,0,0,0,.325-.88A7.951,7.951,0,0,1,18,13.038V10a6.006,6.006,0,0,0-6-6Z"
                        fill="none"
                        stroke="#808798"
                        stroke-width="1"
                      />
                    </g>
                  </g>
                  <g id="number" transform="translate(-315 -172)">
                    <rect
                      id="Rectangle_90"
                      data-name="Rectangle 90"
                      width="10"
                      height="10"
                      rx="5"
                      transform="translate(339 184)"
                      fill="#ff0606"
                    />
                    <text
                      id="_"
                      data-name="!"
                      transform="translate(344 192)"
                      fill="#eafffc"
                      font-size="8"
                      font-family="SegoeUI-Bold, Segoe UI"
                      font-weight="700"
                    >
                      <tspan x="-1.309" y="0">!</tspan>
                    </text>
                  </g>
                </svg>
              </span>
            </div>
          </div>
          <div class="drop-categories mt-16">
            <div class="drop-title">
              <div class="title">
                <h2 class="heading-title font-18 font-lato">Category</h2>
              </div>
            </div>
            <div class="categories mt-8">
              <div class="flex flex-wrap space-y-2 space-x-8 justify-between">
                {% include '../components/categories-shop.html.twig' with
                {'icon': '<svg
                  id="Group_48"
                  data-name="Group 48"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="21"
                  viewBox="0 0 24 21"
                >
                  <path
                    id="Path_31"
                    data-name="Path 31"
                    d="M23.926,35.966c-4.154-5.267-3.977-5.135-4.2-5.156l-6.5-.866c-1.639-.218-6.64.582-7.208.633a.345.345,0,1,0,.093.683c.577-.052,5.5-.836,7.022-.633l4.466.595L12,32.35,6.4,31.222l1.935-.258a.345.345,0,1,0-.093-.683l-3.972.529H4.266l-.016,0-.01,0-.009,0-.012,0-.018.005-.007,0h0l-.01,0-.018.008-.008,0-.009,0-.008,0c-.151.087-.077.093-4.063,5.111a.342.342,0,0,0-.036.367c.14.275-.233-.268,7.462,9.83a.351.351,0,0,0,.488.068.342.342,0,0,0,.068-.483L1.3,36.892l5.461,1.7,4.205,10.966-2.976-3.9a.351.351,0,0,0-.488-.068.342.342,0,0,0-.068.483c2.015,2.64,3.274,4.288,3.289,4.3a1.662,1.662,0,0,0,.943.519c.05.008.634.008.683,0a1.648,1.648,0,0,0,.953-.539l9.509-12.472a.342.342,0,0,0-.068-.483.351.351,0,0,0-.488.068L13.036,49.558l4.205-10.966,5.461-1.7-2.175,2.85a.342.342,0,0,0,.068.483.351.351,0,0,0,.488-.068c2.92-3.83,2.763-3.6,2.878-3.823A.342.342,0,0,0,23.926,35.966ZM12,33.224l4.207,4.744H7.794ZM.9,36.044,4.2,31.85l2.243,5.922ZM4.86,31.615l6.482,1.306-4.2,4.732Zm7.179,18.6h-.077L7.529,38.658h8.941Zm4.815-12.563-4.2-4.732,6.482-1.306Zm.7.12L19.8,31.85,23.1,36.044Z"
                    transform="translate(0 -29.907)"
                    fill="#4964d0"
                  />
                </svg>
                ', 'name': 'Accessories'}%} {% include
                '../components/categories-shop.html.twig' with {'icon': '<svg
                  id="Group_47"
                  data-name="Group 47"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="21"
                  viewBox="0 0 24 21"
                >
                  <path
                    id="Path_30"
                    data-name="Path 30"
                    d="M23.871,24.711l-.017-.016L18.9,20.444a.474.474,0,0,0-.155-.091L15.16,19.116a.476.476,0,0,0-.6.272.441.441,0,0,0-.028.132,2.553,2.553,0,0,1-5.1,0,.465.465,0,0,0-.5-.43.486.486,0,0,0-.131.025l-3.579,1.25a.474.474,0,0,0-.155.091L.147,24.694a.444.444,0,0,0-.017.643l.017.016,3.918,3.824V39.634a.463.463,0,0,0,.471.455H19.464a.463.463,0,0,0,.471-.455V29.177l3.918-3.824A.444.444,0,0,0,23.871,24.711Zm-3.949,3.171v-2.11a.471.471,0,0,0-.942,0V39.156H4.988V25.772a.471.471,0,0,0-.942,0v2.114l-2.9-2.832L5.633,21.18l2.948-1.027A3.467,3.467,0,0,0,12.65,22.8,3.413,3.413,0,0,0,15.4,20.153l2.948,1.027,4.469,3.874Z"
                    transform="translate(0 -19.089)"
                    fill="#4964d0"
                  />
                </svg>
                ', 'name': 'Clothing'}%} {% include
                '../components/categories-shop.html.twig' with {'icon': '<svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="18"
                  viewBox="0 0 24 18"
                >
                  <g id="game-controller" transform="translate(0 0)">
                    <path
                      id="Path_45"
                      data-name="Path 45"
                      d="M145.677,239.71a1.462,1.462,0,1,0,1.456,1.462A1.461,1.461,0,0,0,145.677,239.71Zm0,2.216a.755.755,0,1,1,.752-.755A.754.754,0,0,1,145.677,241.926Z"
                      transform="translate(-137.461 -231.477)"
                      fill="#4964d0"
                    />
                    <path
                      id="Path_46"
                      data-name="Path 46"
                      d="M305.657,241.172a1.456,1.456,0,1,0,1.456-1.462A1.461,1.461,0,0,0,305.657,241.172Zm1.456-.754a.755.755,0,1,1-.752.754A.754.754,0,0,1,307.113,240.417Z"
                      transform="translate(-291.33 -231.477)"
                      fill="#4964d0"
                    />
                    <path
                      id="Path_47"
                      data-name="Path 47"
                      d="M46.566,79.433l-1.588-9.494,0-.018a4.4,4.4,0,0,0-2.679-3.44v-.656a1.06,1.06,0,0,0-1.057-1.061H39.911a1.06,1.06,0,0,0-1.057,1.061v.71a4.36,4.36,0,0,0-1.278.88H31.636a4.36,4.36,0,0,0-1.278-.88v-.71A1.06,1.06,0,0,0,29.3,64.764H27.973a1.06,1.06,0,0,0-1.057,1.061v.656a4.4,4.4,0,0,0-2.679,3.44l0,.018L23.723,73a.352.352,0,1,0,.695.117l.506-3.028a.355.355,0,0,0,.008-.039,3.686,3.686,0,0,1,3.637-3.186,3.625,3.625,0,0,1,2.567,1.054V68.4a1.3,1.3,0,0,0,1.291,1.3h2.882a.354.354,0,0,0,0-.707H32.427a.589.589,0,0,1-.587-.589v-.275h5.532V68.4a.589.589,0,0,1-.587.589H35.311a.354.354,0,0,0,0,.707h1.475a1.3,1.3,0,0,0,1.291-1.3v-.483a3.625,3.625,0,0,1,2.567-1.054,3.686,3.686,0,0,1,3.637,3.186.348.348,0,0,0,.007.039l1.583,9.465a2.143,2.143,0,0,1-1.291,2.343,2.14,2.14,0,0,1-2.852-1.3l-.839-2.522a.352.352,0,1,0-.668.225l.839,2.522a2.847,2.847,0,0,0,5.506-1.383ZM27.621,66.258v-.433a.353.353,0,0,1,.352-.354H29.3a.353.353,0,0,1,.352.354v.463a4.393,4.393,0,0,0-1.085-.135A4.321,4.321,0,0,0,27.621,66.258Zm11.938.03v-.463a.353.353,0,0,1,.352-.354h1.328a.353.353,0,0,1,.352.354v.433a4.321,4.321,0,0,0-.948-.106A4.393,4.393,0,0,0,39.559,66.288Z"
                      transform="translate(-22.606 -64.764)"
                      fill="#4964d0"
                    />
                    <path
                      id="Path_48"
                      data-name="Path 48"
                      d="M18.35,231.422l-.626-1.871a.352.352,0,0,0-.541-.173,2.217,2.217,0,0,1-2.913-.258.351.351,0,0,0-.254-.108H9.986a.352.352,0,0,0-.254.108,2.217,2.217,0,0,1-2.913.258.352.352,0,0,0-.541.173l-1.4,4.183a2.142,2.142,0,0,1-4.143-1.041l1.134-6.811a.352.352,0,1,0-.695-.117L.042,232.575a2.846,2.846,0,0,0,5.506,1.383L6.806,230.2a2.921,2.921,0,0,0,3.325-.478h3.741a2.921,2.921,0,0,0,3.325.478l.485,1.451a.352.352,0,1,0,.668-.225Z"
                      transform="translate(-0.001 -217.906)"
                      fill="#4964d0"
                    />
                    <path
                      id="Path_49"
                      data-name="Path 49"
                      d="M81.465,140.968a1.1,1.1,0,0,0-1.1,1.1v.08h-.08a1.1,1.1,0,0,0,0,2.208h.08v.08a1.1,1.1,0,1,0,2.2,0v-.08h.08a1.1,1.1,0,0,0,0-2.208h-.08v-.08A1.1,1.1,0,0,0,81.465,140.968Zm1.179,1.891a.4.4,0,0,1,0,.793h-.432a.353.353,0,0,0-.352.354v.434a.4.4,0,1,1-.79,0v-.434a.353.353,0,0,0-.352-.354h-.432a.4.4,0,0,1,0-.793h.432a.353.353,0,0,0,.352-.354v-.434a.4.4,0,1,1,.79,0v.434a.353.353,0,0,0,.352.354Z"
                      transform="translate(-75.474 -137.382)"
                      fill="#4964d0"
                    />
                    <path
                      id="Path_50"
                      data-name="Path 50"
                      d="M368.431,130.706a1.033,1.033,0,1,0,1.029,1.033A1.032,1.032,0,0,0,368.431,130.706Zm0,1.358a.325.325,0,1,1,.324-.325A.325.325,0,0,1,368.431,132.064Z"
                      transform="translate(-350.18 -127.603)"
                      fill="#4964d0"
                    />
                    <path
                      id="Path_51"
                      data-name="Path 51"
                      d="M368.431,204.572a1.033,1.033,0,1,0,1.029,1.033A1.032,1.032,0,0,0,368.431,204.572Zm0,1.358a.325.325,0,1,1,.324-.325A.325.325,0,0,1,368.431,205.93Z"
                      transform="translate(-350.18 -197.992)"
                      fill="#4964d0"
                    />
                    <path
                      id="Path_52"
                      data-name="Path 52"
                      d="M406.392,168.672a1.029,1.029,0,1,0-1.029,1.033A1.032,1.032,0,0,0,406.392,168.672Zm-1.353,0a.324.324,0,1,1,.324.325A.325.325,0,0,1,405.039,168.672Z"
                      transform="translate(-385.382 -162.798)"
                      fill="#4964d0"
                    />
                    <path
                      id="Path_53"
                      data-name="Path 53"
                      d="M330.469,168.672a1.029,1.029,0,1,0,1.029-1.033A1.032,1.032,0,0,0,330.469,168.672Zm1.353,0a.324.324,0,1,1-.324-.325A.325.325,0,0,1,331.822,168.672Z"
                      transform="translate(-314.978 -162.798)"
                      fill="#4964d0"
                    />
                    <path
                      id="Path_54"
                      data-name="Path 54"
                      d="M205.213,204.36a.354.354,0,0,0,0-.707h-1.054a.354.354,0,0,0,0,.707Z"
                      transform="translate(-194.254 -197.117)"
                      fill="#4964d0"
                    />
                    <path
                      id="Path_55"
                      data-name="Path 55"
                      d="M272.08,203.653h-1.054a.354.354,0,0,0,0,.707h1.054a.354.354,0,0,0,0-.707Z"
                      transform="translate(-257.986 -197.117)"
                      fill="#4964d0"
                    />
                  </g>
                </svg>
                ', 'name': 'Gaming'}%} {% include
                '../components/categories-shop.html.twig' with {'icon': '<svg
                  id="Group_72"
                  data-name="Group 72"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="24"
                  viewBox="0 0 20 24"
                >
                  <g
                    id="Group_71"
                    data-name="Group 71"
                    transform="translate(0 0)"
                  >
                    <path
                      id="Path_57"
                      data-name="Path 57"
                      d="M49.863,12.009a2.463,2.463,0,0,0-.152-3.384A2.254,2.254,0,0,0,48.156,8h-.977a2.464,2.464,0,0,0-.169-3.384A2.254,2.254,0,0,0,45.464,4h-.027a3.124,3.124,0,0,0-3.05-2.8h-.527a.619.619,0,0,1-.615-.48.638.638,0,0,1,0-.24.416.416,0,0,0-.088-.333A.4.4,0,0,0,40.848,0a2.28,2.28,0,0,0-2.186,1.611,2.507,2.507,0,0,0,.318,2.2,2.367,2.367,0,0,0,.15.19h-.59a2.351,2.351,0,0,0-2.308,2.392A2.451,2.451,0,0,0,36.825,8h-.977a2.35,2.35,0,0,0-2.308,2.391,2.45,2.45,0,0,0,.6,1.618A2.363,2.363,0,0,0,32,14.4a2.4,2.4,0,0,0,1,1.965l2.479,7.367a.386.386,0,0,0,.363.268H48.156a.386.386,0,0,0,.363-.268L51,16.366A2.4,2.4,0,0,0,52,14.4,2.363,2.363,0,0,0,49.863,12.009ZM39.394,1.861A1.522,1.522,0,0,1,40.485.849a.173.173,0,0,0,0,.024A1.391,1.391,0,0,0,41.859,2h.527a2.34,2.34,0,0,1,2.276,2H40.848a1.527,1.527,0,0,1-1.245-.66A1.689,1.689,0,0,1,39.394,1.861ZM38.54,4.8h6.923a1.6,1.6,0,0,1,0,3.2H38.54a1.6,1.6,0,0,1,0-3.2Zm-2.692,4H48.156a1.6,1.6,0,0,1,0,3.2H35.848a1.6,1.6,0,0,1,0-3.2Zm.273,14.4-2.528-7.513a1.261,1.261,0,0,1,.808-.378,1.274,1.274,0,0,1,1,.388l.089.093,1.066,7.41Zm1.212,0-1.077-7.46.222-.231a1.25,1.25,0,0,1,1.815,0l.255.264.357,7.426Zm4.284,0H39.676l-.358-7.443.238-.248a1.25,1.25,0,0,1,1.815,0l.247.256Zm2.711,0H42.387V15.766l.247-.256a1.25,1.25,0,0,1,1.815,0l.238.248Zm.771,0,.357-7.426.254-.264a1.25,1.25,0,0,1,1.815,0l.222.231L46.67,23.2Zm2.784,0h-.434l1.069-7.41.089-.093a1.248,1.248,0,0,1,1.8-.01Zm3.143-8,0,0a2.093,2.093,0,0,0-.259-.243l-.043-.035a2.037,2.037,0,0,0-.287-.18l-.055-.028a1.979,1.979,0,0,0-.317-.12l-.047-.012a1.984,1.984,0,0,0-.355-.062c-.049,0-.1-.005-.146-.005s-.093.01-.139.013-.121.008-.181.017a1.985,1.985,0,0,0-.2.048c-.059.016-.118.029-.175.05a1.988,1.988,0,0,0-.21.1,1.491,1.491,0,0,0-.136.068,2.055,2.055,0,0,0-.315.236l-.09-.094a2,2,0,0,0-2.9,0l-.087.089-.087-.091a2,2,0,0,0-2.9,0L42,15.035l-.087-.091a2,2,0,0,0-2.9,0l-.087.091-.087-.091a2,2,0,0,0-2.9,0l-.09.094a1.964,1.964,0,0,0-1.855-.464l-.047.012a1.98,1.98,0,0,0-.317.12c-.019.009-.038.018-.055.028a2.036,2.036,0,0,0-.287.18l-.043.035a2.1,2.1,0,0,0-.259.243l0,0a1.618,1.618,0,0,1-.207-.8,1.57,1.57,0,0,1,1.538-1.6H49.694a1.57,1.57,0,0,1,1.538,1.6A1.618,1.618,0,0,1,51.026,15.2Z"
                      transform="translate(-32.002 0)"
                      fill="#4964d0"
                    />
                  </g>
                </svg>
                ', 'name': 'Dinery'}%} {% include
                '../components/categories-shop.html.twig' with {'icon': '<svg
                  id="_022---Surgical-Mask"
                  data-name="022---Surgical-Mask"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="18"
                  viewBox="0 0 24 18"
                >
                  <path
                    id="Shape"
                    d="M16.282,23.8a17.43,17.43,0,0,0,10.64,0,.406.406,0,0,0,.271-.3.415.415,0,0,0-.119-.391.394.394,0,0,0-.39-.09,16.642,16.642,0,0,1-10.162,0,.4.4,0,0,0-.5.269.411.411,0,0,0,.263.512Z"
                    transform="translate(-9.602 -13.591)"
                    fill="#4964d0"
                  />
                  <path
                    id="Shape-2"
                    data-name="Shape"
                    d="M16.345,17.812a33.508,33.508,0,0,0,5.262.412,33.508,33.508,0,0,0,5.262-.412.4.4,0,0,0,.316-.256.417.417,0,0,0-.062-.407A.4.4,0,0,0,26.745,17a33.045,33.045,0,0,1-10.277,0,.4.4,0,0,0-.452.342.408.408,0,0,0,.329.466Z"
                    transform="translate(-9.607 -10.045)"
                    fill="#4964d0"
                  />
                  <path
                    id="Shape-3"
                    data-name="Shape"
                    d="M26.592,30.024a11.224,11.224,0,0,1-10.055,0,.392.392,0,0,0-.415.014.412.412,0,0,0-.179.383.408.408,0,0,0,.249.339,12,12,0,0,0,10.745,0,.408.408,0,0,0,.249-.339.412.412,0,0,0-.179-.383A.392.392,0,0,0,26.592,30.024Z"
                    transform="translate(-9.565 -17.711)"
                    fill="#4964d0"
                  />
                  <path
                    id="Shape-4"
                    data-name="Shape"
                    d="M22.4,4.092H20.326A1.2,1.2,0,0,0,19.2,3.274h-.6a4.9,4.9,0,0,1-3.805-1.915,3.547,3.547,0,0,0-5.581,0A4.9,4.9,0,0,1,5.4,3.274H4.8a1.2,1.2,0,0,0-1.126.818H1.6A1.619,1.619,0,0,0,0,5.729V7.774a4.793,4.793,0,0,0,4.167,4.451,8.659,8.659,0,0,0,7.173,5.738,5.74,5.74,0,0,0,1.32,0,8.659,8.659,0,0,0,7.172-5.738A4.793,4.793,0,0,0,24,7.774V5.729A1.619,1.619,0,0,0,22.4,4.092Zm-17.6,0h.6A5.689,5.689,0,0,0,9.831,1.875a2.757,2.757,0,0,1,4.34,0A5.688,5.688,0,0,0,18.6,4.092h.6a.4.4,0,0,1,.4.409V4.91l-1.2,0h-.008A6.289,6.289,0,0,1,13.548,2.39a1.968,1.968,0,0,0-3.1,0,6.283,6.283,0,0,1-4.84,2.514H5.6l-1.2,0V4.5a.4.4,0,0,1,.4-.409ZM.8,7.774V5.729a.809.809,0,0,1,.8-.818h2V9a9.461,9.461,0,0,0,.3,2.341A3.915,3.915,0,0,1,.8,7.774ZM12.577,17.15a5.036,5.036,0,0,1-1.154,0,7.868,7.868,0,0,1-6.575-5.424v0A8.56,8.56,0,0,1,4.4,9V5.729l1.2,0a7.035,7.035,0,0,0,5.47-2.815,1.179,1.179,0,0,1,1.858,0,7.078,7.078,0,0,0,5.463,2.819H18.4l1.2,0V9a8.56,8.56,0,0,1-.447,2.72v0a7.868,7.868,0,0,1-6.576,5.424ZM23.2,7.774a3.917,3.917,0,0,1-3.1,3.569A9.461,9.461,0,0,0,20.4,9V4.91h2a.809.809,0,0,1,.8.818Z"
                    transform="translate(0 -0.002)"
                    fill="#4964d0"
                  />
                </svg>
                ', 'name': 'Mask'}%} {% include
                '../components/categories-shop.html.twig' with {'icon': '<svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="17"
                  viewBox="0 0 24 17"
                >
                  <path
                    id="cap"
                    d="M20.978,12.64c-.356-.058-.714-.1-1.071-.139a2.075,2.075,0,0,0-3.987,0c-.6.064-1.2.154-1.8.275a6.443,6.443,0,0,0-5.107,5.569L8.664,21.2a24.778,24.778,0,0,0-5.474,3.625h0a1.834,1.834,0,0,0-.608.532,1.19,1.19,0,0,0-.109,1.184,1.089,1.089,0,0,0,.925.613,3.733,3.733,0,0,0,2.015-.762c.083-.051.162-.1.237-.144A7.582,7.582,0,0,0,7.227,25.04a7.182,7.182,0,0,1,1.316.552c.41.216.849.506,1.313.814A7.529,7.529,0,0,0,13.475,28h.034c1.019,0,2.737-1.26,4.873-2.9a19.326,19.326,0,0,1,1.735-1.257h.093a12.59,12.59,0,0,0,5.946-1.152.405.405,0,0,0,.21-.355v-3.3a6.425,6.425,0,0,0-5.387-6.392Zm-3.064-.83a1.439,1.439,0,0,1,1.125.619,19.042,19.042,0,0,0-2.249,0A1.439,1.439,0,0,1,17.913,11.81ZM9.808,18.44a5.636,5.636,0,0,1,4.467-4.873,18.321,18.321,0,0,1,3.473-.362c.416.462,2.135,2.8,1.9,9.589-2.41-1.209-4.724-2.3-7.512-2.37a7.619,7.619,0,0,0-2.616.445ZM5.242,25.552c-.078.046-.161.1-.248.151a3.321,3.321,0,0,1-1.538.645.281.281,0,0,1-.255-.155.377.377,0,0,1,.044-.372,2.389,2.389,0,0,1,1.107-.611l.052-.018a4.986,4.986,0,0,1,1.672-.322l.143,0a7.717,7.717,0,0,1-.978.68Zm12.652-1.1c-1.333,1.025-3.557,2.737-4.379,2.737H13.5a6.9,6.9,0,0,1-3.2-1.459c-.481-.319-.936-.621-1.383-.856a6,6,0,0,0-2.835-.819,4.776,4.776,0,0,0-.674.049c1.908-1.43,4.35-2.928,6.706-2.873A16.587,16.587,0,0,1,19.2,23.474c-.359.253-.8.593-1.3.979Zm7.667-2.367a12.074,12.074,0,0,1-5.121.939c.236-5.832-.918-8.622-1.671-9.8a18.355,18.355,0,0,1,2.081.213,5.619,5.619,0,0,1,4.71,5.592Z"
                    transform="translate(-2.365 -11)"
                    fill="#4964d0"
                  />
                </svg>
                ', 'name': 'Caps'}%} {% include
                '../components/categories-shop.html.twig' with {'icon': '<svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <g id="shopping-bag" transform="translate(0 0)">
                    <g
                      id="Group_2196"
                      data-name="Group 2196"
                      transform="translate(0 5)"
                    >
                      <g id="Group_2195" data-name="Group 2195">
                        <path
                          id="Path_5729"
                          data-name="Path 5729"
                          d="M23.5,106.667H.5a.5.5,0,0,0-.5.5v15a3.5,3.5,0,0,0,3.5,3.5h17a3.5,3.5,0,0,0,3.5-3.5v-15A.5.5,0,0,0,23.5,106.667Zm-.5,15.5a2.5,2.5,0,0,1-2.5,2.5H3.5a2.5,2.5,0,0,1-2.5-2.5v-14.5H23Z"
                          transform="translate(0 -106.667)"
                          fill="#4964d0"
                        />
                      </g>
                    </g>
                    <g
                      id="Group_2198"
                      data-name="Group 2198"
                      transform="translate(7 0)"
                    >
                      <g id="Group_2197" data-name="Group 2197">
                        <path
                          id="Path_5730"
                          data-name="Path 5730"
                          d="M154.333,0a5.006,5.006,0,0,0-5,5V8.5a.5.5,0,1,0,1,0V5a4,4,0,0,1,8,0V8.5a.5.5,0,0,0,1,0V5A5.006,5.006,0,0,0,154.333,0Z"
                          transform="translate(-149.333 0)"
                          fill="#4964d0"
                        />
                      </g>
                    </g>
                    <g
                      id="Group_2200"
                      data-name="Group 2200"
                      transform="translate(6 8)"
                    >
                      <g id="Group_2199" data-name="Group 2199">
                        <path
                          id="Path_5731"
                          data-name="Path 5731"
                          d="M129.5,170.667a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,129.5,170.667Zm0,2a.5.5,0,1,1,.5-.5A.5.5,0,0,1,129.5,172.667Z"
                          transform="translate(-128 -170.667)"
                          fill="#4964d0"
                        />
                      </g>
                    </g>
                    <g
                      id="Group_2202"
                      data-name="Group 2202"
                      transform="translate(15 8)"
                    >
                      <g id="Group_2201" data-name="Group 2201">
                        <path
                          id="Path_5732"
                          data-name="Path 5732"
                          d="M321.5,170.667a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,321.5,170.667Zm0,2a.5.5,0,1,1,.5-.5A.5.5,0,0,1,321.5,172.667Z"
                          transform="translate(-320 -170.667)"
                          fill="#4964d0"
                        />
                      </g>
                    </g>
                  </g>
                </svg>
                ', 'name': 'Bags'}%} {% include
                '../components/categories-shop.html.twig' with {'icon': '<svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="16"
                  viewBox="0 0 24 16"
                >
                  <g id="hot-cup" transform="translate(0 -128.049)">
                    <g
                      id="Group_2204"
                      data-name="Group 2204"
                      transform="translate(0 128.049)"
                    >
                      <g
                        id="Group_2203"
                        data-name="Group 2203"
                        transform="translate(0 0)"
                      >
                        <path
                          id="Path_5734"
                          data-name="Path 5734"
                          d="M17.712,138.586H18a5.935,5.935,0,0,0,6-5.854A2.77,2.77,0,0,0,21.2,130H19.946c.034-.518.054-1.039.054-1.561a.4.4,0,0,0-.4-.39H.4a.4.4,0,0,0-.4.39,23.7,23.7,0,0,0,3.975,13.134l.09.135H.4a.4.4,0,0,0-.4.39,1.978,1.978,0,0,0,2,1.951H18a1.978,1.978,0,0,0,2-1.951.4.4,0,0,0-.4-.39H15.935l.09-.135A24.086,24.086,0,0,0,17.712,138.586Zm2.168-7.8H21.2a1.978,1.978,0,0,1,2,1.951,5.14,5.14,0,0,1-5.133,5.07q.17-.4.326-.8a4.34,4.34,0,0,0,4.007-4.273,1.186,1.186,0,0,0-1.2-1.171H19.79Q19.842,131.171,19.881,130.781Zm-.208,1.561H21.2a.4.4,0,0,1,.4.39,3.54,3.54,0,0,1-2.9,3.445A23.615,23.615,0,0,0,19.672,132.342Zm-.541,10.146a1.2,1.2,0,0,1-1.132.78H2a1.2,1.2,0,0,1-1.132-.78Zm-3.779-1.339-.37.558H5.018l-.37-.558A22.939,22.939,0,0,1,.8,128.829H19.2A22.939,22.939,0,0,1,15.353,141.149Z"
                          transform="translate(0 -128.049)"
                          fill="#4964d0"
                        />
                      </g>
                    </g>
                  </g>
                </svg>
                ', 'name': 'Mugs'}%}
              </div>
            </div>
          </div>

          <div class="drop-products mt-16">
            <div class="drop-title">
              <div class="title">
                <h2 class="heading-title font-18 font-lato">
                  Popular products
                </h2>
              </div>
              <div class="products mt-8 grid grid-flow-row grid-cols-5 gap-4">
                {% for i in 0..19 %} {% include
                '../components/product-card.html.twig' %} {% endfor %}
              </div>
              {% include '../components/paginate.html.twig' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
