.categories {
  .icon-category {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.drop-products {
  .products {
    .product {

      .product-image {
        border-color: #4964D0;
      }

      .new-price {
        color: #4964D0;
      }
    }
  }

  .paginate {
    .paginate-item {
      &.active {
        color: #4964D0;
      }
    }
  }

}
