<div class="category-item rounded-2xl py-4 w-full">
  <a class="flex justify-around text-white" href="/">
    <h3 class="font-24 font-lota font-bold">Accessories</h3>
    <span>
      <svg id="diamond" xmlns="http://www.w3.org/2000/svg" width="32" height="28" viewBox="0 0 32 28">
        <g id="Group_48" data-name="Group 48">
          <path id="Path_31" data-name="Path 31" d="M31.9,37.986c-5.539-7.022-5.3-6.846-5.6-6.875l-8.671-1.155c-2.186-.291-8.853.776-9.611.844a.46.46,0,1,0,.124.911c.769-.07,7.33-1.114,9.363-.844l5.954.793L16,33.164l-7.462-1.5,2.579-.344a.46.46,0,1,0-.124-.911l-5.3.705H5.688l-.021,0-.014,0-.011,0-.016,0-.024.007-.01,0,0,0-.014.005-.025.011-.011,0-.012.006-.011.006c-.2.116-.1.125-5.418,6.815a.455.455,0,0,0-.049.489c.187.367-.311-.357,9.949,13.106a.468.468,0,0,0,.651.09.456.456,0,0,0,.091-.644L1.729,39.22l7.281,2.268,5.607,14.621L10.65,50.914a.468.468,0,0,0-.651-.09.456.456,0,0,0-.091.644c2.687,3.52,4.366,5.717,4.385,5.738a2.216,2.216,0,0,0,1.258.692c.066.011.845.011.91,0a2.2,2.2,0,0,0,1.27-.719L30.409,40.549a.456.456,0,0,0-.091-.644.469.469,0,0,0-.651.09L17.382,56.109l5.607-14.621L30.27,39.22l-2.9,3.8a.456.456,0,0,0,.091.644.468.468,0,0,0,.651-.09c3.894-5.107,3.684-4.8,3.838-5.1A.455.455,0,0,0,31.9,37.986ZM16,34.33l5.609,6.326H10.391ZM1.2,38.09,5.606,32.5l2.99,7.9ZM6.48,32.184l8.643,1.741-5.594,6.31Zm9.571,24.8h-.1l-5.91-15.411H21.961Zm6.42-16.751-5.594-6.31,8.643-1.741Zm.932.159,2.99-7.9L30.8,38.09Z" transform="translate(0 -29.907)" fill="#fdfdfd"/>
        </g>
      </svg>
    </span>
  </a>
</div>
