<div class="flex justify-end items-center flex-wrap paginate mt-16">
  <div class="flex flex-wrap py-2 mr-3 space-x-2 font-18 font-lato">
    <a href="#" class="paginate-item"> prev </a>
    <a href="#" class="paginate-item">...</a>
    <a href="#" class="paginate-item">23</a>
    <a href="#" class="active paginate-item">24</a>
    <a href="#" class="paginate-item">28</a>
    <a href="#" class="paginate-item">...</a>
    <a href="#" class="paginate-item"> next </a>
  </div>
</div>
