<div class="product">
  <div class="product-image border rounded-20 overflow-hidden">
    <div
      class="img-product"
      style="
        background-image: url('../../../src/images/product_{{
        random(3)
      }}.png');
        height: 280px;
        background-size: cover;
        background-position: center;
      "
    ></div>
  </div>
  <div class="font-lato">
    <a class="font-18" href="/">Solidus Long Sleeve</a>
    <p>
      <span class="new-price font-24">$19.99</span>
    </p>
  </div>
</div>
