<div class="swiper-slide w-1/5 flex flex-col">
  <div class="drop-stream-image border rounded-2xl overflow-hidden relative">
    <div class="img-streams" style="background-image: url('../../../src/images/stream.png'); height: 170px; background-size: cover; background-position: center;">
    </div>
    <span class="drop-stream-status absolute top-2 left-2 font-14 font-lato bg-red-600 text-white px-2 rounded-x-100">
      Live
    </span>
    <span class="drop-view font-14 text-white px-2 rounded-xl absolute bottom-2 left-2">
      44,3 thousand viewers
    </span>
  </div>
  <div class="drop-streamer flex mt-4 items-center">
    <span class="drop-image drop-avatar rounded-full overflow-hidden">
      <img src="../../../src/images/avatar.png"
          alt="Sena Meta"
          class="rounded-full"
          data-was-processed="true">
    </span>

    <div class="drop-detail-streamer ml-4">
      <a href="/">
        <h3 class="drop-name-streamer font-lato font-16 bont-bold">Anna Curtyce</h3>
        <span class="drop-description-streamer font-lato font-12" title="">
          <h4>Redmi Mi9 Rubber Case (pink) by Scho...</h4>
        </span>
      </a>
      <div class="drop-tags flex -mx-2 mt-2">
        <div class="n-fx-wrap mx-2">
          <a class="drop-labels-item px-2 py-1 rounded-x-100">
            <span class="label font-14 font-lato">Accessories</span>
          </a>
        </div>
        <div class="n-fx-wrap mx-2">
          <a class="drop-labels-item px-2 py-1 rounded-x-100">
            <span class="label font-14 font-lato">Gaming</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
